body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

th {
    text-align: center;
}

td.service, th.service {
    width: 50%;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.fill {
    min-height: 100%;
    height: 100%;
}

.min-100 {
    min-height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_form {
    padding: 10rem 0;
}

.adm_check, .get_details {
    cursor: pointer;
}

.actions {
    text-align: right;
}

.actions .btn {
    margin: 0.5rem;
}

.td-actions {
    text-align: center;
}

#wrapper .rezerwacje-content {
    margin: 2rem auto;
}

#wizyty h1 {
    text-align: center;
    padding: 3rem 0;
}

#page-content-wrapper-index {
    background: #e0e0e0;
}

.panel-content {
    padding-top: 4em;
}

.add-new-user-button {
    margin-bottom: 1em;
}

.logo-panel {
    max-width: 100px;
}

#users-table i{
    margin: 5px;
    color: #98a6ad;
}

#users-table i:hover{
    color: #4e555b;
}


#reservation-table i{
    margin: 5px;
    color: #98a6ad;
}

#reservation-table i:hover{
    color: #4e555b;
}

#reservation-table tr {
    height: 45px;
}

.infobar {
    position: absolute;
    top:10px;
    width: 85%;
    left: 7%;
}

.form-privileges {
    width: 100%;
    max-width: 60%;
    padding: 15px;
    margin: auto;
}

.form-privileges-footer {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.card {
    margin: auto;
    min-height: 300px;
}

.privileges-box {
    margin: auto;
    text-align: center;
}

.locked
{
    text-decoration: line-through;
}


.reservationEditForm {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 200px;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}



@media (min-width: 320px) and (max-width: 480px){

    .wizyty-card {
        padding-left: 2rem;
    }

    #rezerwacje .select-flex {
        display: inline-flex;
        padding: 5px;
    }

   .flex-tr > .fa-3x {
        font-size: 2rem;
    }




}