@import url("https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Poppins:300,300i,400,700");

a, a:hover, a:visited{
    color: #ffffff;
}

.navbar {
    font-size: 1.3rem;
}

.nav-link {
    color: #ffc107 !important;
}

#kontakt .row {
    margin-right: 0;
}



.navbar-brand {
    margin-right: 5rem;
}

.nav-item {
    margin-right: 2rem;
    text-align: right;
}

.infobar {
    position: absolute;
    top:100px;
}

#notFound {
    padding-top: 3em;
    color: #4e555b;
}

#notFound h1{
    font-size: 15em;
    font-weight: bold;
    color: #cbced0;
}

.not-found-content {
    width: 100%;
    text-align: center;
}

.not-found-header {
    margin-top: 8em;
}

.onas {
    height: 100vh;
    min-height: 850px;
    background-image: url('/assets/img/onas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.onas-right {
    color: #ffffff;
}


.onas-right h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

.onas-right p{
    text-align: justify;

}

.oferta_header_top {
    box-sizing: border-box;
    color: #ffc107;
    font-family: "Anton", sans-serif;
    font-size: 12rem;
    left: 0;
    line-height: 5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: matrix(0.9, 0, -0.2, 0.5, 19, -160);
    width: 100%;
}

.oferta_header_bottom{
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-size: 12rem;
    left: 0;
    line-height: 5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: matrix(0.9, 0, -0.2, 0.5, 16, -78);
    width: 100%;
}

#oferta {
    color: #31302e;
    background-color: #ffc107;
    padding: 5rem 0;
}

.oferta-content {
    margin: 5rem auto;
}

.oferta-body h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fd0000;
}

.oferta-card{
    text-align: justify;
}

.oferta-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    word-wrap: break-word;
    margin: auto;
}

.oferta-img-top {
    width: 100%;
    margin: 2rem auto;
}

.rezerwacje_header_top {
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-size: 12rem;
    left: 0;
    line-height: 5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: matrix(0.9, 0, -0.2, 0.5, 16, -80);
    width: 100%;
}

.rezerwacje_header_bottom{
    box-sizing: border-box;
    color: #ffc107;
    font-family: "Anton", sans-serif;
    font-size: 12rem;
    left: 0;
    line-height: 5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: matrix(0.9, 0, -0.2, 0.5, 16, 1);
    width: 100%;
}

.rezerwacje-content {
    margin: 10rem auto 1rem auto;
}

.rezerwacje-card {
    min-height: 300px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

#kontakt {
    background-color: #31302e;
    color: #ffffff;
}

.kontakt {
    padding: 5rem 5rem;
    text-align: center;
}

.kontakt-title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #ffc107;
}

.kontakt-body {
    margin: auto;
    font-size: 1.4rem;
    width: 70%;
    line-height: 3rem;
}

.kontakt-left {
    margin-right: 2rem;
    color: #ffc107;
}

footer {
    background-color: #282222;
    color: #686868;
}

.to-top-arrow {
    position: fixed;
    right: 20px;
    bottom: -10px;
    width: 50px;
    height: 50px;
    line-height: 47px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    color: #31302e;
    background: #ffc107;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    z-index: 10;
}

.to-top-arrow.show {
    bottom: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 1;
}

.to-top-arrow:hover {
    opacity: 1;
}



@media (min-width: 1025px) and (max-width: 1199px) {

    .onas {
        min-height: 1000px;
    }

    .kontakt-body {
        width: 100%;
    }

}

@media (min-width: 992px) and (max-width: 1024px) {

    .onas {
        min-height: 1050px;
    }

    .onas-right {
        padding: 2rem 2rem;
    }

    .oferta_header_top {
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -124);
    }

    .oferta_header_bottom{
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -83);
    }

    .rezerwacje_header_top {
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -44);
    }

    .rezerwacje_header_bottom{
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -3);
    }

    .kontakt-body {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .onas {
        min-height: 1100px;
    }

    .onas-right {
        padding: 2rem 0 0 20rem;
    }

    .oferta_header_top {
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -124);
    }

    .oferta_header_bottom{
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -83);
    }

    .oferta-body {
        margin-bottom: 5rem;
    }

    .oferta-body h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .rezerwacje_header_top {
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -44);
    }

    .rezerwacje_header_bottom{
        font-size: 6rem;
        line-height: 3rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -3);
    }

    .kontakt-body {
        width: 50%;
    }

    .weekdays {
        display: none;
    }


    .weekdays-short {
        display: block;
    }

}

@media (min-width: 481px) and (max-width: 767px) {


    .onas {
        min-height: 1000px;
    }

    .onas-right {
        padding: 2rem 2rem;
    }

    .onas-right h1{
        margin-bottom: 1rem;
    }

    .oferta-content {
        margin: auto;
    }

    .oferta_header_top {
        font-size: 5rem;
        line-height: 2.5rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -117);
        left: -0.9rem;
    }

    .oferta_header_bottom{
        font-size: 5rem;
        line-height: 2.5rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -83);
        left: -0.9rem;
    }
    .oferta-card {
        width: 100%;
    }

    .oferta-body {
        margin-bottom: 5rem;
    }

    .oferta-body h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .rezerwacje_header_top {
        font-size: 5rem;
        line-height: 2.5rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -37);
        left: -0.9rem;
    }

    .rezerwacje_header_bottom{
        font-size: 5rem;
        line-height: 2.5rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -3);
        left: -0.9rem;
    }

    .kontakt-body {
        width: 90%;
    }

    .weekdays {
        display: none;
    }


    .weekdays-short {
        display: block;
    }

    .reservation-desc {
        padding: 2px;
    }

    .reservation-title, .reservation-time {
        font-size: 0.5em;
    }

}


@media (min-width: 320px) and (max-width: 480px){

    .navbar-brand {
        margin-right: 0;
    }

    .onas {
        min-height: 1050px;
    }


    .onas-left {
        display: none;
    }

    .onas-right {
        padding: 1rem 1rem;
    }

    .onas-right h1{
        font-size: 1.5rem;
    }

    .onas-right p{
        font-size: 0.9rem;
    }

    .oferta_header_top {
        font-size: 4rem;
        line-height: 2rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -108.5);
        left: -0.9rem;
    }

    .oferta_header_bottom{
        font-size: 4rem;
        line-height: 2rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -81.5);
        left: -0.9rem;
    }

    .oferta-content {
        margin: 0.1rem auto;
    }

    .oferta-card {
        width: 100%;
    }

    .oferta-body {
        margin-bottom: 2rem;
    }

    .oferta-body h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .rezerwacje_header_top {
        font-size: 4rem;
        line-height: 2rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -28.5);
        left: -0.9rem;
    }

    .rezerwacje_header_bottom{
        font-size: 4rem;
        line-height: 2rem;
        transform: matrix(0.9, 0, -0.2, 0.5, 16, -1.5);
        left: -0.9rem;
    }

    .kontakt-body {
        width: 100%;
        font-size: 1rem;
    }

    .kontakt-left {
        margin-right: 0.8rem;
    }

    .weekdays {
        display: none;
    }

    .reservation-title, .reservation-time {
        font-size: 1em;
    }

    .weekdays-short {
        display: none;
    }

    #rezerwacje .last-month, #rezerwacje .next-month {
        display: none;
        height: 0;
    }

    #rezerwacje {
        width: 100%;
    }

    #rezerwacje .weekdays, #rezerwacje .other-month {
        display: none;
    }

    #rezerwacje li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #rezerwacje .date {
        float: none;
    }

    #rezerwacje .reservation {
        margin-top: 8px;
    }

    #rezerwacje .bottom-tr {
        padding: 8px;
    }

    #check_reservations {
        font-size: 1.2rem;
    }

    #rezerwacje .reservation-user {
        background-image: none !important;
        width: 100%;
        min-height: 60px;
    }

    #rezerwacje .days li {
        min-height:1px;
    }

}